.thumbnails li {
  cursor: pointer;
}
.thumbnail {
  height: 200px;
}
.thumbnail img {
  height: 130px;
}
iframe {
  width: 300px;
  height: 220px;
}
h5 {
  margin-bottom: 0;
}
.description_short {
  z-index: 1;
  background: #000;
  opacity: 0.8;
  margin-top: -130px;
  height: 120px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  color: white;
}
#image {
  margin-top: -100px;
}