<script id="courses" type="text/html">

<h2>Vastuvõtt</h2>

<div class="row">

  <div class="span10">
    <ul class="thumbnails">{{>course}}</ul>    
  </div>

  <div class="span2">   
    <ul id="types" class="nav nav-pills nav-stacked">
      <li><a href="" data-type="keskhariduse baasil">Keskhariduse baasil</a></li>
      <li><a href="" data-type="põhihariduse baasil">Põhihariduse baasil</a></li>
      <li><a href="" data-type="päevane õpe">Päevane õpe</a></li>
      <li><a href="" data-type="õhtune õpe">Õhtune õpe</a></li>
    </div>
</div>    

</script>