<script id="course" type="text/html">
  <h3>{{title}}</h3>
  <div class="row">
    <div class="span5">
      {{description}}
    </div>
    <div class="span3">
      {{{video}}}
    </div>
  </div>
</script>