<script id="modal" type="text/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{title}}</h3>
  </div>
  <div class="modal-body">
    <img src="{{url}}" />
  </div>
</script>