<script id="thumbnail" type="text/html">
  <li class="span2" data-id="{{id}}" data-title="{{title}}" data-description_short="{{description_short}}">
    <div class="thumbnail">
      <img src="{{img_small}}" alt="">
      <p>{{title}}<br />({{type}})</p>
      </div>
    </li>
</script>