<script id="thumbnail" type="text/html">
  <li class="span2" data-id="{{id}}" data-title="{{title}}" data-content="{{description}}">
    <div class="thumbnail">
      <img src="{{img_small}}" alt="">
      <p>{{title}} ({{type}})</p>
      </div>
    </li>
</script>