<script id="thumbnail" type="text/html">
  <li class="span2" data-id="{{id}}">
    <div class="thumbnail">
      <img src="{{url}}" alt="">
      <p><a href="" class="test">{{title}}</a> ({{type}})</p>
      </div>
    </li>
</script>